config filse for server/flows.json
[
    {
        "id": "f7593cfe6bbc0f20",
        "type": "tab",
        "label": "Transfer danych",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7afec5d6be17eef1",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/temperature",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "75baaf2d5ca6888b",
                "41595a5d3035d86f"
            ]
        ]
    },
    {
        "id": "e6682aca794d89ab",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/humidity",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 200,
        "wires": [
            [
                "69a803c8f3830a7d",
                "83d464cb4e8fb10a"
            ]
        ]
    },
    {
        "id": "24d52e5f7571d491",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/pressure",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 320,
        "wires": [
            [
                "137fec4720b2a10d",
                "2ffd5cc47e2dc32b"
            ]
        ]
    },
    {
        "id": "e830cc8b83f00886",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/hight",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 440,
        "wires": [
            [
                "64bbb09ec9298d21",
                "9558025ea7886e6c"
            ]
        ]
    },
    {
        "id": "a6d678c40614e70f",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/pm1",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 560,
        "wires": [
            [
                "df2a516f9e60b5c4",
                "26596e12c5e7df63"
            ]
        ]
    },
    {
        "id": "c476b1e44e7249b1",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/pm25",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 680,
        "wires": [
            [
                "cfa92affd2551883",
                "a69a85035120a4a9"
            ]
        ]
    },
    {
        "id": "c5685b5f9d3247c8",
        "type": "mqtt in",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "topic": "smog/pm10",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ceb7da0683e04e90",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 250,
        "y": 800,
        "wires": [
            [
                "478986c28c050b39",
                "c418cb17ce982c57"
            ]
        ]
    },
    {
        "id": "75baaf2d5ca6888b",
        "type": "ui_gauge",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "group": "0cee73d759a96da8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": "-20",
        "max": "40",
        "colors": [
            "#80ffff",
            "#00ff00",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "25",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "69a803c8f3830a7d",
        "type": "ui_gauge",
        "z": "f7593cfe6bbc0f20",
        "name": "",
        "group": "0cee73d759a96da8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Wilgotność",
        "label": "%",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "137fec4720b2a10d",
        "type": "ui_text",
        "z": "f7593cfe6bbc0f20",
        "group": "0cee73d759a96da8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Ciśnienie",
        "format": "{{msg.payload}} hPa",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "64bbb09ec9298d21",
        "type": "ui_text",
        "z": "f7593cfe6bbc0f20",
        "group": "0cee73d759a96da8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wysokość",
        "format": "{{msg.payload}} m",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "df2a516f9e60b5c4",
        "type": "ui_text",
        "z": "f7593cfe6bbc0f20",
        "group": "0cee73d759a96da8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM1.0",
        "format": "{{msg.payload}} ug/m3",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 560,
        "wires": []
    },
    {
        "id": "cfa92affd2551883",
        "type": "ui_text",
        "z": "f7593cfe6bbc0f20",
        "group": "0cee73d759a96da8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM2.5",
        "format": "{{msg.payload}} ug/m3",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "478986c28c050b39",
        "type": "ui_text",
        "z": "f7593cfe6bbc0f20",
        "group": "0cee73d759a96da8",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "PM10",
        "format": "{{msg.payload}} ug/m3",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 570,
        "y": 800,
        "wires": []
    },
    {
        "id": "41595a5d3035d86f",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "temperature",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 650,
        "y": 20,
        "wires": []
    },
    {
        "id": "83d464cb4e8fb10a",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "humidity",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 140,
        "wires": []
    },
    {
        "id": "2ffd5cc47e2dc32b",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "pressure",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "9558025ea7886e6c",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "hight",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 380,
        "wires": []
    },
    {
        "id": "26596e12c5e7df63",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "pm1",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 500,
        "wires": []
    },
    {
        "id": "a69a85035120a4a9",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "pm25",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 620,
        "wires": []
    },
    {
        "id": "c418cb17ce982c57",
        "type": "influxdb out",
        "z": "f7593cfe6bbc0f20",
        "influxdb": "c004d05f927fc2e6",
        "name": "",
        "measurement": "pm10",
        "precision": "",
        "retentionPolicy": "",
        "database": "influx",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 630,
        "y": 740,
        "wires": []
    },
    {
        "id": "ceb7da0683e04e90",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "0cee73d759a96da8",
        "type": "ui_group",
        "name": "Warunki pogodowe",
        "tab": "aa48af3702cc317b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "c004d05f927fc2e6",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.8-flux",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "aa48af3702cc317b",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    }
]